@import "tailwindcss";

@theme {
  --color-burgundy: #7a0016;
  --color-gold: #d4af37;
  --color-gold-light: #f3e5ab;
  --color-gold-dark: #aa8c2c;
  --color-paper: #fdfbf7;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-script: var(--font-alex-brush);
  --font-script-vibes: var(--font-great-vibes);
}

body {
  background-color: var(--color-burgundy);
  color: var(--color-gold-light);
  overflow-x: hidden;
}

.bg-paper-texture {
  background-image: 
    radial-gradient(circle at 50% 30%, rgba(212, 175, 55, 0.05) 0%, transparent 70%),
    radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-position: center;
  background-size: 100% 100%;
}

